# Ignore data files and intermediate results
/data/*.json
/data/*.npy
/data/*.pt
/data/*.csv

data/

/LESS/data/*.json
/LESS/data/*.npy
/LESS/data/*.pt
/LESS/data/*.csv

/LESS/data/

/LESS/wandb

# But allow curated files (optional)
!data/lima.json
!data/gsm8k.json

# Ignore model checkpoints
/results/*
/checkpoints/*
/outputs/*
/models/*
/out/*

# Python stuff
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# Huggingface cache
~/.cache/huggingface/
